body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
    
}

nav ul {
    margin: 0;
    padding: 20px 0 0 0;
}

nav ul button {
    line-height: 25px;
}

header img {
    height: 100px;
    width: auto;
}
header h1 {
    padding-left: 20px;
    padding-top: 10px;
}

main img {
    object-fit: cover;
    margin-right: 20px;
    height: 350px;
    width: 35%;
}

main li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}

main, section, footer {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.button { /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    border-color: #00afef;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}


/* Flex and Grid below */

#menu {
    grid-area: menu;
}
#title {
    grid-area: title;
    display: flex;
}
#main {
    padding: 20px;
    grid-area: main;
    display: flex;
    align-items: center;
}
#event {
    grid-area: event;
    display: flex;
    flex-direction: row;
}
#promo {
    grid-area: promo;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#promo > p {
    align-self: flex-start;
}

#footer {
    grid-area: footer;
}
.container {
    display: grid;
    grid-template-areas:
    "title  menu"
    "main   main"
    "event  promo"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}

.contact-container{
    display: grid;
    grid-gap: 8px;
    grid-template-areas: 
    'ctitle cmenu'
    'contact contact'
    'footer footer';
}

#contact-form{
    grid-area: contact;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1 ;
}

#contact-menu{
    grid-area: cmenu;
}

#contact-title{
    grid-area: ctitle;
    display: flex;
}

#submit{
    color: white;
    text-transform: capitalize;
    width: 200px;
}

h2{
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    
.container{
    display: flex;
    flex-direction: column;
    grid-gap:4px;
    margin: 5px;
}

#main{
    flex-direction: column;
    padding: 10px;
}

#main > img{
    height:250px;
    width: 100%;
    justify-self: center;
    margin: 0;
}

.button{
    width: 120px;
    padding: 0%;
}

nav ul{
    padding: 0%;
}
h1{
    font-size: 24px;
}

h2{
    font-size: 18px;

}
p{
    font-size: 12px;
}
li{
    font-size: 12px;
}

#event > img{
    height: 100px;
    width: auto;
}


.contact-container{
    display: flex;
    flex-direction: column;
}

#comments{
    width: 85%;
}

#submit{
    padding: 10px;
}

}